---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="container mx-auto min-h-[75vh] p-4 flex flex-col md:flex-row items-center justify-between h-full">
			<!-- Text Section -->
			<div class="text-left md:w-1/2 space-y-4 md:mx-4">
				<h1 class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200">Minimal. Fast. <span class="text-gradient">Beautiful.</span></h1>
				<p class="instructions text-xl text-muted mb-6 dark:text-slate-300">CryptoScouts revives the old Crypotwatch design of a simple yet powerful crypto charting interface.</p>
				<!-- CTA -->
				<div class="max-w-xs sm:max-w-md m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
					<div class="flex w-full sm:w-auto">
						<!-- <a class="bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded-full w-full sm:mb-0" href="#">
						Get started
						</a> -->
						<Card
						href="https://trade.ahernandez.dev"
						title="Get Started"
					body=""
						/>
					</div>
				</div>
			</div>
			<!-- Image Section -->
			<div class="mt-8 md:mt-0 md:w-1/2 slide-in">
				<img src="https://github.com/dorbro555/CryptoScout-landing-page/blob/master/public/Aguas_Crypto_Homepage.png?raw=true" alt="Hero Image" class="w-full h-auto object-cover rounded-lg shadow-lg">
			</div>
		</section>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		max-width: calc(100% - 2rem);
		color: white;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
